@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>

    <p>TheDiscAppMVC is an ASP.NET web application that can be used to create your own database of all things disc golf. The application comes preloaded with five stock discs, players, teams, and collections. These can be expanded upon, edited, or deleted.</p>
    <p>This application is still a working progress and will continually be having new features added to it. Patience would be appreciated as we continue this project.</p>
    
    <hr>

    <p>
        <h4>Discs</h4>

        A disc can be added using PDGA approved manufacturers and required PDGA disc specifications.
    </p>
    
    <p>
        <h4>Players</h4>
        
        A player can be added and must have an associated PDGA number, PDGA rating, and a team. The number and rating can be left as 0 if those are not available.
    </p>

    <p>
        <h4>Collections</h4>
        
        A collection can be added and must have a player and disc assigned to it. Dropdown menus are listed with available players and discs.
    </p>

    <p>
        <h4>Teams</h4>
        
        A team can be added by name alone. Once added, players can be added to the team via the players page. Then, players on each team can be viewed via the team pages.
    </p>
</div>
