@{
    ViewData["Title"] = "FAQs";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>

<div class="faq">
    <h4>What is disc golf?</h4>
    <p class="faq-indent">Disc golf is a disc sport that requires a player to throw a disc in some variety at a target until it lands in the basket. Similar to ball golf, each course has a par and the winner of a game is the one who throws closet to or most under par. Or in simpler terms, lowest score wins. It is also usually played on 9 hole, 18 hole, or 24 hole courses. However, if there is not a course near you, many also play object disc golf. It is the same as normal golf except you are aiming for an object (i.e. a tree) instead of a basket.</p>

    <h4>What do the numbers on a disc mean?</h4>
    <p class="faq-indent">There are usually 4 numbers on a disc (e.g. 12 / 5 / 0 / 3). 
        <ul>
            <li>The first number is the 'Speed'' of the disc. This number ranges between 1 to 15. The higher the number the faster and further the disc can go. However, you also have to have the arm speed to match the speed of the disc.</li>
            <br />
            <li>The second number refers to the disc's 'Glide''. The higher the glide number, the more the disc wants to stay in the air. The lower the number, the more the disc wants to make its way to the ground.</li>
            <br />
            <li>The third number is the amount of 'Turn' a disc has. Typically ranges between 1 to -5. A disc with a more negative number will increase the amount a disc wants to turn. For a right-handed backhand thrower with a very high (negative) turn number. The disc will turn more towards the right when thrown before finishing off to the left. Which leads us to the last number.</li>
            <br />
            <li>'Fade' is the 4th and last number on a disc. Think of it like the opposite of turn. So, for a right-handed backhand thrower, a disc with higher fade will want to finish further and faster to the left.</li>
        </ul>
    </p>

    <h4>Why is it called disc golf and not frisbee golf?</h4>
    <p class="faq-indent">"Steady" Ed Headrick first coined the term 'Disc Golf' in 1975 when he obtained its trademark. He invented and patented the modern day disc golf basket in 1977. He originally planned to label the newly found sport as frisbee golf and name all related products with the frisbee naming scheme. However, he ran into issues with the Frisbee trademark belonging to Wham-O. Due to that, Disc Golf was born. Ed evenutally released the trademark on Disc Golf in the hopes of growing the sport.</p>

    <h4>What does the number written on the back of my disc mean?</h4>
    <p class="faq-indent">There is usally a number written on the back of many discs. This number refers to the weight in grams of the disc. Disc weight typically ranges from 150 - 180 grams</p>

    <h4>What is the difference in disc stability?</h4>
    <p class="faq-indent">Stability is how likely the disc is to stay straight in the air when flying. A stable disc will stay more stright in flight than an overstable or understable disc. An understable disc is a disc that will turn more right during the flight for a right-handed backhand thrower. An overstable disc is a one that will fade more to the left during the flight for a right-handed backhanded thrower. Overstable discs tend to be more reliable in windy conditions than understable discs as they can easily be "turned over" in flight during a strong headwind. Understable discs are also usually easier to throw for new or less experienced players.</p>

    <h4>What am I supposed to do with TheDiscAppMVC?</h4>
    <p class="faq-indent">TheDiscAppMVC is intended for someone to have fun building a database of discs, players, collections, or teams. This can represent real teams, players, and discs, or they can be fictional. Keep track of what discs you own or what discs a professional you follow owns.</p>
</div>