@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mb-4">
    <h1 class="display-4">Welcome to TheDiscApp!</h1>
    <img src="~/Images/stockHomePhoto.jpg" class="img-fluid" alt="stockHomePhoto" />
</div>
<div class="text-center">
    <p>Thank you for visiting our web application. We hope this will serve a purpose for you and will help grow the sport of disc golf in some way.</p>
    <p>We would appreciate any and all feedback. Please send us an email if you would like to get in touch. Happy Discing!</p>
    <a href="mailto:thediscapp@gmail.com?subject=TheDiscAppMVC">Click here to email us</a>
</div>