@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>

    <p>TheDiscAppMVC was built with privacy and security in mind. Private information provided on this site will not be shared or sold in any way. All information is kept secure and private.</p>
</div>
